#bgImg {
  background-repeat: no-repeat;
  position: absolute;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  flex-grow: 1;
  max-width: 100%;
  background-image: url("../../assets/homePageBackground.png");
  width: 100vw;
  height: 100vh;
}

#outlined-required {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  position: relative;
  width: 218px;
  height: 5px;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  border-color: #ffffff;
  /* top: 15px;
  left: 20px; */
}
#outlined-required:focus {
  outline: none;
}
#Card {
  position: relative;
  width: 289px;
  height: 142px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 2px 4px rgba(63, 134, 140, 0.25);
  border-radius: 12px;
  margin: 0px;
  left: -1vw;
}
#ButtonStart {
  position: relative;
  left: 20px;
  top: 10px;
  width: 248px;
  height: 38px;
  background: #79c0c6;
  box-shadow: 0px 2px 4px #3f868c;
  border-radius: 19px;
}
.headerSurvey {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  text-align: right;
  color: #ffffff;
}
#espacioHeader {
  height: 40vh;
}
#espacioTitle-Input {
  height: 5vh;
}
#espacioCard-Input {
  height: 20px;
}
.MuiOutlinedInput-root {
  border-radius: 12px !important;
}
@media all and (max-width: 1280px) {
  #bgImg {
    background-position-y: 0em;
    background-position-x: right;
    width: 100%;
    height: 100%;
  }

  /* #GridContainer {
    width: 1280px;
  } */
}

@media all and (max-width: 599px) {
  #bgImg {
    background-image: url("../../assets/tabletBackground.png");
    width: 100vw;
    height: 100vh;
    background-position: center center;
  }
  .headerSurvey {
    text-align: center;
    font-size: 22px;
  }
  #espacio {
    height: 10vh;
  }
}
@media all and (max-width: 380px) {
  #Card {
    left: -20px;
  }
}

@media all and (min-width: 2500px) {
  #Card {
    transform: scale(1.4); /*
     Igual que: scaleX(0.7) scaleY(0.7) */
    left: -6vw;
  }
  .headerSurvey {
    left: -3vw;
  }
}
@media all and (height: 1366px) {
  #Card {
    transform: scale(2.1); /*
     Igual que: scaleX(0.7) scaleY(0.7) */
    left: -18vw;
    top: 6vh;
  }
  .headerSurvey {
    transform: scale(1.6);
    left: -14vw;
  }
}
@media all and (height: 1024px) {
  #Card {
    transform: scale(1.4); /*
     Igual que: scaleX(0.7) scaleY(0.7) */
    left: -8vw;
  }
}
