@import "../../config/colors.css";
#export-container {
  color: var(--primary);
  background: var(--white);
  border: 1px solid var(--primary);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(63, 134, 140, 0.25);
  border-radius: 25px;
  padding-top: 10;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto";
}

.export-icon {
  position: relative;
  top: 6px;
}

#title {
  text-align: center;
}

.bt {
  width: 70%;
  border-radius: 24px !important;
  font-size: 1em !important;
  text-transform: none !important;
  top: -15%;
  position: relative;
  left: 80px;
}

.btn-containe {
  background-color: var(--primary) !important;
  color: var(--white) !important;
  border-color: var(--primary) !important;
}

.grid-content {
  margin-top: 6%;
  margin-bottom: 5%;
  left: 10%;
  position: relative;
}

.text {
  color: var(--primary);
  font-family: "Roboto";
  font-size: 16;
  margin-left: 40px;
  margin-top: -2%;
  position: relative;
}

#p-position {
  margin-left: 60px;
}

.info-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #919191;
  margin-left: 26%;
  position: relative;
}

#date-picker-inline,
#date-picker-inline-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  position: relative;
  background: var(--white);
  border-radius: 24px;
  overflow: hidden;
  border-color: #919191;
  padding: 12px 0px 12px 0px;
  width: 60%;
  margin-left: 12%;
}

.date-position {
  margin-top: -11%;
  margin-left: 10%;
}

.latent {
  animation: latency 2s infinite;
}

@keyframes latency {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

#export-container .MuiExpansionPanelSummary-expandIcon {
  display: none !important;
}
#export-container .MuiExpansionPanelSummary-content {
  justify-content: center !important;
}
