#custom-export {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 49px;
  text-align: center;
  color: #79c0c6;
  text-align: center;
  background: #ffffff;
  border: 1px solid #79c0c6;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(63, 134, 140, 0.25);
  border-radius: 25px;
  padding-top: 10;
}

.export-icon {
  position: relative;
  top: 6px;
}
