@import "../../config/colors.css";
.Ho {
  color: #ffee00;
}

.noteicon {
  position: relative;
  width: 15%;
}

.grade {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  margin-top: -10%;
  color: #6f6f72;
}

#chart {
  min-width: 500px;
}
