.Ho {
  color: #ffee00;
}

.noteicon {
  margin-left: 43%;
  position: relative;
  width: 15%;
}

.grade {
  margin-left: 46%;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  margin-top: -10%;
  color: #6f6f72;
}
